### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


### Virtual environment ###
env/
.venv/

### Configuration files ###
.env

### Added to .gitignore
ansible/
.vscode/
.git/
.github/
