# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
API_KEY=value-to-replace
API_TOKEN=value-to-replace
BOARD_ID=value-to-replace