{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for todo in todos %}
        <li> {{todo.title}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="{{url_for('create')}}" method="post">
    <label for="field_name">Create a new To-do item</label>
    <br>
    <input type="text" name="field_name" placeholder="new to-do item" value="{{ request.form['field_name'] }}">
    </input>
    <br>
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}